<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>483289547857-l2prebek3le5lr87b3cr3ap0f2gkhnks.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483289547857-l2prebek3le5lr87b3cr3ap0f2gkhnks</string>
	<key>API_KEY</key>
	<string>AIzaSyDZoySVDmlMSgnctHJj_zXBwfc4xa7fZcI</string>
	<key>GCM_SENDER_ID</key>
	<string>483289547857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qwe.TabBarTesta</string>
	<key>PROJECT_ID</key>
	<string>travelapp-58f04</string>
	<key>STORAGE_BUCKET</key>
	<string>travelapp-58f04.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483289547857:ios:2accb6a07f5aa335766470</string>
</dict>
</plist>